<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %} Certificate Manager - HRT PPC {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="access-keys">Access Keys: ON</a>
              </li>

              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
              </li>
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<!--
<div id="search" style="margin:-10px;">
  <legend class="nhsuk-fieldset__legend nhsuk-label--l">
    <h1 class="nhsuk-fieldset__heading">
      Personal details
    </h1>
  </legend>
</div>
<br><br>-->

<div class="nhsuk-warning-callout" style="margin-top: 10px">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Important information
    </span>
  </h3>
  <p>This PPC only covers certain Hormone Replacement Therapy (HRT) medication.</p>
  <p>If the customer requires prescription medication for something other than HRT, a Prescription Prepayment Certificate (PPC) may be better for them.</p>
  <p>Advise the customer that payments for a 12 month HRT PPC can only be made in a single credit or debit card payment of £18.70 at this time.</p>
</div>

<div>
  <h1 style="margin-bottom: 10px">
    Certificate Manager

    <a href="access-keys" id="access-keys-button" class="nhsuk-button" role="button" style="background-color: #025eb8; float: right; margin-bottom: 10px"> Access Keys (T) </a>
  </h1>
</div>

<div id="search" style="margin-bottom: -20px">
  <h2>Search details</h2>

  <hr style="margin-top: 10px" />
  <div class="nhsuk-width-container">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="certificate-number" id="certificate-number-label">
        <strong>Certificate number (A)</strong>
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="certificate-number" name="certificate-number" type="text" />
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="last-name" id="last-name-label">
        <strong>Last name (Z)</strong>
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="last-name" name="last-name" type="text" />
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="dob">
        <strong> Date of birth (X)</strong>
      </label>
      <div class="nhsuk-hint" id="dob-hint">For example, 15 03 84</div>
      <div class="nhsuk-date-input" id="dob" style="margin-bottom: 20px">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="dob-day"> Day </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day" type="text" pattern="[0-9]*" inputmode="numeric" />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="dob-month"> Month </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month" type="text" pattern="[0-9]*" inputmode="numeric" />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="dob-year"> Year </label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year" type="text" pattern="[0-9]*" inputmode="numeric" />
          </div>
        </div>
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="postcode">
          <strong>Postcode (C)</strong>
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="postcode" name="postcode" type="text" />
      </div>

      <div class="form-group">
        <a href="search" id="submit-button" class="nhsuk-button" role="button" style="background-color: #025eb8">Submit (I)</a>
        <a href="start" id="cancel-button" class="nhsuk-button" role="button" style="background-color: #025eb8">Cancel (M)</a>
      </div>
    </div>
  </div>
  {% endblock %} {% block pageScripts %}
  <script>
    // Start page

    const certificateNumberInput = document.querySelector("[name=certificate-number]");
    const lastNameInput = document.querySelector("[name=last-name]");
    const dobDayInput = document.querySelector("[name=dob-day]");
    const postcodeInput = document.querySelector("[name=postcode]");

    window.addEventListener("keydown", (event) => {
      // Certificate number input
      if (event.altKey === true && event.code === "KeyA") {
        if (certificateNumberInput !== document.activeElement) {
          certificateNumberInput.focus();
          event.preventDefault();
        }
      }
      // Last name input
      if (event.altKey === true && event.code === "KeyZ") {
        if (lastNameInput !== document.activeElement) {
          lastNameInput.focus();
          event.preventDefault();
        }
      }
      // DOB day input
      if (event.altKey === true && event.code === "KeyX") {
        if (dobDayInput !== document.activeElement) {
          dobDayInput.focus();
          event.preventDefault();
        }
      }
      // Postcode input
      if (event.altKey === true && event.code === "KeyC") {
        if (postcodeInput !== document.activeElement) {
          postcodeInput.focus();
          event.preventDefault();
        }
      }
      // Access keys button
      if (event.altKey === true && event.code === "KeyT") {
        document.getElementById("access-keys-button").click();
      }
      // Submit button
      if (event.altKey === true && event.code === "KeyI") {
        document.getElementById("submit-button").click();
      }
      // Cancel button
      if (event.altKey === true && event.code === "KeyM") {
        document.getElementById("cancel-button").click();
      }
    });
  </script>
  
</div>
  {% endblock %}

