<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Certificate Summary
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="/access-keys">Access Keys: ON</a>
                  </li>
                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<!--
<style>
  
.nhsuk-summary-list__key, .nhsuk-summary-list__value, .nhsuk-summary-list__actions {
    border-bottom: 1px solid darkgray;
    display: table-cell;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-top: 8px;
}




</style>-->

<!--<legend class="nhsuk-fieldset__legend nhsuk-label--l">
  <h1 class="nhsuk-fieldset__heading">
    Certificate summary
    <p style="float:right;"><a href="exemption-information-2">Alternative design</a></p>
  </h1>
  
</legend>-->
<h1 style="margin-bottom: 10px;">
  Summary
</h1>
<!--<div id="search" style="margin-top: -25px; margin-bottom: -25px;">-->
<div>
<style>
  .flex-container{
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */		
    display: flex; /* Standard syntax */
    border-radius: 0px;
    
  }
  .flex-container .column{
    padding: 10px;
    
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
    border: 7.5px solid #DEE0E2;
    background-color: #F8F8F8;
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 10px
  }
  
  #header {

background-color: #DEE0E2;
margin-top: -15px;
margin-left: -15px;
margin-right: -15px;
margin-bottom: -15px;
border-radius: 10px 10px 0px 0px;





}




</style>


  <!-- Change the page heading -->
  

  <!-- ==================================================================================== -->
  <!-- SEARCH BOX -->
  <!-- ==================================================================================== -->
  <div>
    
  <div class="flex-container" >
    <div class="column">
      <div id="header">
        <h4 style="padding: 10px;">Certificate details</h4>
      </div>
      
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate number
          </dt>
          <dd class="nhsuk-summary-list__value">
            10000005940
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate type
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class="nhsuk-table-responsive__heading"></span><strong class="nhsuk-tag nhsuk-tag--green">
              HRT PPC
            </strong>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate status
          </dt>
          <dd class="nhsuk-summary-list__value">
             Issued
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate fulfillment
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Email</p>
            
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate Start
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>01/01/2023</p>
            
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate expiry
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>01/01/2024</p>
            
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Application date
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>01/01/2023</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
          <br><br><br><br>
        </div>
      
      </dl>

    </div>
    
    <div class="column bg-alt">
      <div id="header">
        <h4 style="padding: 10px;">Personal details<a href="edit-information">
          <button class="nhsuk-button" type="submit"  style="background-color: #025eb8; line-height: 0px;  text-align: left; float: right;">
          Edit (E)
         </button>
        </a></h4>
        
      </div>
      
      <dl class="nhsuk-summary-list" style="margin-bottom:10px;">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            First name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Doe
          </dd>   
          <dd class="nhsuk-summary-list__actions">
            
          </dd>       
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address line 1
          </dt>
          <dd class="nhsuk-summary-list__value">
            101 Test Road
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address line 2
          </dt>
          <dd class="nhsuk-summary-list__value">
            Stella
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Town
          </dt>
          <dd class="nhsuk-summary-list__value">
           Newcastle
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            TR110TS
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="nhsuk-summary-list__value">
            07123456789
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
        </div>
      
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            28/11/1970
          </dd>
          <dd class="nhsuk-summary-list__actions">

          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane.doe@hotmail.com
          </dd>
          <dd class="nhsuk-summary-list__actions">
      
            
      
          </dd>

        
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            1234567890
          </dd>
          <dd class="nhsuk-summary-list__actions">
      
            
      
          </dd>

        
        </div>
        
        
      </dl>
      
    </div>
</div>

<div class="flex-container">
  <div class="column">
    <div id="header">
      <h4 style="padding: 10px;">Payment<a href=""><button class="nhsuk-button" type="submit" style="background-color: #025eb8; float: right; line-height: 0px;  text-align: left;">
       Refresh
      </button></a></h4>
    </div>
    

    
      
      
      <table class="nhsuk-table" style="margin-bottom:10px;">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              # Type
            </th>
            
            <th role="columnheader" class="" scope="col">
              Amount
            </th>
            <th role="columnheader" class="" scope="col">
              Status
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">1 Card payment</td>
            
            <td class="nhsuk-table__cell ">£18.70</td>
            <td class="nhsuk-table__cell ">Cleared</td>
          </tr>
          
          
        </tbody>
        
      </table>
      <br>

      <p>Cost: £18.70 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total: £18.70</p>

      
    
      
  

      
      
  </div>
  

  <div class="column bg-alt">
    <div id="header">
      <h4 style="padding: 10px;">Notes</h4>
    </div>
    
    <table class="nhsuk-table">
      
      
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">01-06-2024</td>
          <td class="nhsuk-table__cell ">14:29 - LAUGO</td>
          <td class="nhsuk-table__cell ">Advised cert details</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">01-06-2024</td>
          <td class="nhsuk-table__cell ">14:30 - LAUGO</td>
          <td class="nhsuk-table__cell ">Certificate reissued by user 'LAUGO' on 1-Jun-2024.<br>Additional information - reissue.</td>
        </tr>
        
      </tbody>
    </table>
    <div class="nhsuk-form-group">
      <div id="header">
        <h4 style="padding: 10px;">New note</h4>
      </div>
      <br>
      
      <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
      <br>
      
    </div>
    
    
    <a href="exemption-information"><button class="nhsuk-button" type="submit" style="background-color: #025eb8;">
      Submit (I)
    </button></a>
    <a href="exemption-information"><button class="nhsuk-button nhsuk-button--secondary" type="submit">
      Reset (R)
    </button></a>
        
        
      </div>
  </div>
  
  
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  

{% endblock %}
