<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="access-keys">Access Keys: ON</a>
                  </li>
                  

                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<script>
  document.body.addEventListener("keydown", function (event) {
    if (event.key === "µ") {
        window.location.replace("/v2/keys-on/start");
    }
    else if (event.key === "¥") {
        window.location.replace("/v2/keys-on/customer-details");
    }
});
</script>


<!--
<div id="search" style="margin:-10px;">
  <legend class="nhsuk-fieldset__legend nhsuk-label--l">
    <h1 class="nhsuk-fieldset__heading">
      Personal details
    </h1>
  </legend>
</div>
<br><br>-->

<div>
  <h1>Certificate Manager

    <a href="access-keys"><button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8; float: right;">
      Access Keys
    </button></a>
  </h1>
</div>


<div id="search">

  <h2>Search details</h2>
  
<hr>
  <div class="nhsuk-width-container">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
        <strong> Certificate number</strong>
      </label>
      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
        <strong> Surname</strong>
      </label>
      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
        <strong>  DOB</strong>
      </label>
      <input class="nhsuk-input nhsuk-u-width-one-third" id="address-town" name="address-town" type="text">
    </div>
  
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="address-county" style="display:inline-block; width:160px; text-align:right;">
        <strong>  Postcode</strong>
      </label>
      <input class="nhsuk-input nhsuk-u-width-one-third" id="address-county" name="address-county" type="text">
    </div>
  
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="address-postcode" style="display:inline-block; width:160px; text-align:right;">
        <strong> Email address</strong>
      </label>
      <input class="nhsuk-input nhsuk-u-width-one-third" id="address-postcode" name="address-postcode" type="text">
      

      
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="address-postcode" style="display:inline-block; width:160px; text-align:right;">
          <strong> NHS number</strong>
        </label>
        <input class="nhsuk-input nhsuk-u-width-one-third" id="address-postcode" name="address-postcode" type="text">
        
  
        
        </div>
 
  <hr style="margin-top: -5px;">

  <div class="grid-row">
      <div class="nhsuk-grid-column-full">
          <div class="form-group">
            
            <a href="search"><button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8;">
              Submit
            </button></a>
            <a href="access-keys"><button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8;">
              Cancel
            </button></a>
          </div>

      </div>
  </div>
</div>

</div>





  



  
{% endblock %}
