<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Search Results
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="/access-keys">Access Keys: ON</a>
                  </li>
                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<script>
  document.body.addEventListener("keydown", function (event) {
    if (event.key === "i") {
        window.location.replace("/keys-on/dob");
    }
    else if (event.key === "o") {
        window.location.replace("javascript:history.go(-1)");
    }
    else if (event.key === "m") {
        window.location.replace("/keys-on/start");
    }
});
</script>

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

      <!-- Change the page heading -->
      <form action="access-keys">
      
        
      

    
      <!--<button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8; float: right;">
        Access Keys
      </button>--></form>
     

  

      <!-- ==================================================================================== -->
      <!-- SEARCH BOX -->
      <!-- ==================================================================================== -->
      <div class="nhsuk-grid-row">
        <div class="nhsuk-width-container">
      
      <legend class="nhsuk-fieldset__legend nhsuk-label--l">
        <h1 class="nhsuk-fieldset__heading">
          What is your name?
        </h1>
      </legend>

      <p>They should use their first name and last name that will match what is printed on their prescriptions. Do not include any middle names.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="example">
          First name (S)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text">
        
        <label class="nhsuk-label" for="example">
         Last name (A)
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="example" name="example" type="text">
      </div>
      
      
      <br>

      <div>
        
          <a href="dob"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Submit (I)
          </button></a>
          <a href="javascript:history.go(-1)"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Back (O)
          </button></a>
          <a href="start"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Cancel (M)
          </button></a>

      </div>

      
      
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  </div>

</div>
</div>
</div>

{% endblock %}
