<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-narrow.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Search Results
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container">
      
        
          
            <ul class="nhsuk-secondary-navigation__list">
              

              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="#">Access Keys: ON</a>
              </li>
              
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
              </li>
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
              </li> 
            </ul>
          
       
      
          </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">

      <!-- Change the page heading -->
      <form action="access-keys">
      
        
      

    
      <!--<button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8; float: right;">
        Access Keys
      </button>--></form>

      <legend class="nhsuk-fieldset__legend nhsuk-label--l">
        <h1 class="nhsuk-fieldset__heading">
          What is your address?
        </h1>
      </legend>

      <p>The address they give should match what is printed on their prescriptions.</p>

      <!-- ==================================================================================== -->
      <!-- SEARCH BOX -->
      <!-- ==================================================================================== -->
      
      <div>
        <fieldset class="nhsuk-fieldset">
          
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address-line-1">
              Address line 1 (1) <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
            </label>
            <input class="nhsuk-input" id="address-line-1" name="address-line-1" type="text"></input>
          </div>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address-line-2">
              Address line 2 (2)<span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="nhsuk-input" id="address-line-2" name="address-line-2" type="text">
          </div>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address-town">
              Town or city (3)
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
          </div>
        
          
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="address-postcode">
              Postcode (Z)
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
            <button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8; float: right;">
              Get address (P)
            </button>
          </div>
        
        </fieldset> 

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              They don't know which address to use
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <h4>If they have more than one address</h4>
            <p>They should use the address that their GP or dentist holds for them. For example, if they're a student living away from home, this could be their home or term time address.</p>

            <h4>If they don't have a permanent address </h4>
            <p>If they're homeless and living in temporary accommodation (for example, a long term hostel), they should use the address that their GP or dentist holds for them.</p>
            
        
          </div>
        </details>
        
        
  



       
        
       
      </div>
      
      <br><br>

      <div>
        
          <a href="name"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Submit (I)
          </button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="start"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Cancel (M)
          </button></a>
      </div>

      
      
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  </div>

</div>

{% endblock %}
