<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %} 
Certificate Manager - Search results - HRT PPC Telesales 
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<style>
 
</style>

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="access-keys">Access Keys: ON</a>
              </li>

              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
              </li>
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div>
  <h1 style="margin-bottom: 10px">
    Certificate Manager

    <!--<a href="access-keys"><button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8; float: right;">
        Access Keys
      </button></a>-->
  </h1>
</div>

<div id="search">
  <h2>Search Results</h2>
  <!-- <div class="nhsuk-hint" id="contact-hint">Search results will only show HRT Prescription Prepayment Certificates.</div> -->

  <div class="table-container">
  <table role="table" class="nhsuk-table-responsive">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">Certificate reference</th>
        <th role="columnheader" class="" scope="col">Name</th>
        <th role="columnheader" class="" scope="col">Address</th>
        <th role="columnheader" class="" scope="col">Postcode</th>
        <th role="columnheader" class="" scope="col">Date of birth</th>
        <th role="columnheader" class="" scope="col">Type</th>
        <th role="columnheader" class="" scope="col">Status</th>
        <th role="columnheader" class="" scope="col">Start date</th>
        <th role="columnheader" class="" scope="col">Expiry date</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span><a href="exemption-information">HRTAF4A488E</a></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jane Doe</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>101 Test Lane, Stella, Goldcrest</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>28/11/1970</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>HRT PPC</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>ACTIVE</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>15/06/2024</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>14/06/2025</td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span><a href="exemption-information-pending-payment">HRTCF4R477W</a></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Joseph Doe</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>101 Test Road</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>02/12/1973</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>HRT PPC</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>PENDING </td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>01/06/2024</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>30/06/2025</td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span><a href="exemption-information-fullfilment-none">HRTJQ7T219G</a></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jo Doe</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>101 Test Road</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>16/03/1972</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>HRT PPC</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>ACTIVE</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>31/05/2024</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>30/05/2025</td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span><a href="exemption-information-post">HRTGF2R408T</a></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Josh Doe</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>102 Test Road</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>14/09/1975</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>HRT PPC</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>ACTIVE</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>20/05/2024</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>19/05/2025</td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span>HRT4F9C8195</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jan Doe</td>      
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>105 Test</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>15/03/1984</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>LIS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>ACTIVE</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>12/03/2024</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>11/03/2025</td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span>HRTXS3M718R</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jane Doe</td>      
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>105 Test Road</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>15/03/1984</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>LIS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>ACTIVE</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>01/03/2024</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>01/03/2025</td>
      </tr>
      
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span>HRT250FFBBD</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jay Deo</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>67 Test Street, Test Town</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TE5 5EST</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>15/03/1984</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>LIS_HC2</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>PENDING</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>30/12/2023</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>29/12/2024</td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span>HRT768BIJG22</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jay Deo</td>      
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>67 Test Street, Test Town</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TE5 5EST</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>15/03/1984</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>LIS_HC3</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>ACTIVE</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>30/12/2023</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>29/12/2024</td>
      </tr>
      
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span><a href="exemption-information-2">HRTMU1P22CN</a></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jane Doe</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>105 Test Road, Test County, Test City</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>28/11/1970</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>HRT PPC</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>CANCELLED</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>01/09/2015</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>31/08/2016</td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Certificate reference</span><a href="exemption-information-2">HRTMU1P22CN</a></td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Name</span>Jane Doe</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Address</span>105 Test Road, Test County, Test City</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Postcode</span>TR1 10TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Date of birth</span>28/11/1970</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Type</span>HRT PPC</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Status</span>CANCELLED</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Start date</span>01/09/2015</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading">Expiry date</span>31/08/2016</td>
      </tr>
      
    </tbody>
    
  </table>
</div>


  

  <br />
  <nav class="nhsuk-pagination" id="pagination-label" style="margin-top: -10px;">
            <p class="nhsuk-u-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
            <ul class="nhsuk-pagination__list">
              <li class="nhsuk-pagination__item  nhsuk-pagination__item--prev">
                <a class="nhsuk-pagination__link" href="">Previous<span class="nhsuk-u-visually-hidden"> set of
                    pages</span></a>
              </li>
              <li class="nhsuk-pagination__item nhsuk-pagination__item--active">1</li>
              <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="#">2</a></li>
              <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="#">3</a></li>
              <li class="nhsuk-pagination__item  nhsuk-pagination__item--next">
                <a class="nhsuk-pagination__link" href="">Next<span class="nhsuk-u-visually-hidden"> set of
                    pages</span></a>
              </li>
            </ul>
            <p class="nhsuk-pagination__results">Showing <b>1</b> to <b>10</b> of <b>30</b> results</p>
          </nav>


  <div>
    <a href="start" class="nhsuk-button" id="back-button" role="button">Back (O)</a>
    <a href="customer-details" class="nhsuk-button" id="new-application-button" role="button">New application (Y)</a>
  </div>
</div>

{% endblock %} {% block pageScripts %}
<style>
  .table-container {
    overflow: auto;
  }

  .nhsuk-button {
    background: #025eb8;
  }
  .nhsuk-button:focus {
    background: #ffeb3b;
  }
  .nhsuk-button:hover {
    background: #025eb8;
  }
  
</style>
<script>
  // Search results

  window.addEventListener("keydown", (event) => {
    // Back button
    if (event.altKey === true && event.code === "KeyO") {
      document.getElementById("back-button").click();
    }
    // New application button
    if (event.altKey === true && event.code === "KeyY") {
      document.getElementById("new-application-button").click();
    }
  });
</script>
{% endblock %}
