<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
Check their answers
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li>                 
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<h1 style="margin-bottom: 10px;">Check their answers</h1>
<div id="search">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container">      
          <div class="nhsuk-warning-callout">
            <h2 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Reminder:
              </span>
            </h2>
            <p>This PPC only covers certain Hormone Replacement Therapy (HRT) medication. <br><br> If the customer requires medication for something other than HRT, a Prescription Prepayment Certificate (PPC) may be better for them.</p>
          </div>
    
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">
                Applicant details
              </h2>
            </legend>
    
          {{ summaryList({
            rows: [
              
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "Jane Doe"
                }
              },
              {
                key: {
                  text: "Date of birth"
                },
                value: {
                  html: "29/11/1970"
                }
              },
              {
                key: {
                  text: "NHS number"
                },
                value: {
                  text: "1111111111"
                }
              },
              {
                key: {
                  text: "Address"
                },
                value: {
                  html: '101 Test Road<br>Stella<br>Goldcrest<br>TR110TS'
                }
              },
              {
                key: {
                  text: "Receive certificate and reminder by email or post?"
                },
                value: {
                  text: "Email"
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  html: 'Jane.doe@hotmail.net'
                }
                
              },
              {
                key: {
                  text: "Telephone number"
                },
                value: {
                  html: '	07123456789'
                }
                
              }
              
            ]
          }) }}

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">
                Certificate details
              </h2>
            </legend>
    
          {{ summaryList({
            rows: [
              {
                key: {
                  text: "Length"
                },
                value: {
                  text: "12 months"
                }
              },
              {
                key: {
                  text: "Starts on"
                },
                value: {
                  html: "01/01/2023"
                }
              },{
                key: {
                  text: "Ends on"
                },
                value: {
                  html: "01/01/2024"
                }
              },{
                key: {
                  text: "Total cost"
                },
                value: {
                  html: data.HRTPPCCost
                }
              },{
                key: {
                  text: "Payment method"
                },
                value: {
                  html: "Card payment"
                }
              }
              
            ]
          }) }}

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h2 class="nhsuk-fieldset__heading">
              Notes
              </h2>
            </legend>

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Notes"
              },
              value: {
                text: "A new HRT prepaid certificate created using telephony sales channel."
              }
            }
          ]
        }) }}
        
        <br>
        <div>
          <a href="customer-details-change" id="amend-button" class="nhsuk-button" role="button" style="background-color: #025eb8;">
            Amend details (O)
          </a>
          <a href="payment-ref" id="card-payment-button" class="nhsuk-button" role="button" style="background-color: #025eb8;">
            Card payment call (I)
          </a>
          <a href="start" id="cancel-button" class="nhsuk-button" role="button" style="background-color: #025eb8;">
            Cancel (M)
          </a>
      </div>
      <!-- End of content -->
    </div>
  </div>
</div>
{% endblock %}
{% block pageScripts %}
<script>
  // Check your answers

  window.addEventListener("keydown", (event) => {
    // Amend button
    if (event.altKey === true && event.code === "KeyO") {
      document.getElementById("amend-button").click();
    }
    // Card payment button
    if (event.altKey === true && event.code === "KeyI") {
      document.getElementById("card-payment-button").click();
    }
    // Cancel button
    if (event.altKey === true && event.code === "KeyM") {
      document.getElementById("cancel-button").click();
    }
  });
</script>
{% endblock %}
