<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- Set the page title -->
{% block pageTitle %} Postcode search results {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">

              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
              </li>
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<h1 style="margin-bottom: 10px">Applicant details</h1>

<div id="search">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-width-container">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h2 class="nhsuk-fieldset__heading" style="margin-bottom: 5px;">Postcode search</h2>
        </legend>


        <label class="nhsuk-label" for="postcode"> Postcode (Z) </label>
        <p>TR11 0TS &nbsp; 
          <a href="postcode-search">Change</a>
        </p>

        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-postcode">
              Select address (T)
          </label>
            
            <select class="nhsuk-select" id="address-drop-down" name="address-drop">
              <option value="0">Select applicant address</option>
              <option value="1">101 Test Road, Goldcrest</option>
              <option value="2">2 Test Road, Town</option>
              <option value="3">3 Test Road, Town</option>
              <option value="4">4 Test Road, Town</option>
              <option value="5">5 Test Road, Town</option>
              <option value="6">6 Test Road, Town</option>
              <option value="7">7 Test Road, Town, Test, Test, Test, Test, Test, Test, Test</option>
            </select>

          </div>


            <a href="get-address-selected" id="select-address" class="nhsuk-button" role="button"  style="background-color: #025eb8; height: 35px; line-height: 10px; margin-bottom: 20px;">Select address (W) </a>
            <a href="customer-details" id="enter-manually" class="nhsuk-button" role="button"  style="background-color: #025eb8; height: 35px; line-height: 10px; margin-bottom: 20px;">Enter address manually (N)</a>


  
    
        <details class="nhsuk-details" style="margin-top: 10px">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text"> They don't know which address to use? </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3>If they have more than one address</h3>
            <p>
              They should use the address that their GP or dentist holds for them. For example, if they're a student living away from home, this could be their home or term time
              address.
            </p>
            <h3>If they don't have a permanent address</h3>
            <p>If they're homeless and living in temporary accommodation (for example, a long term hostel), they should use the address that their GP holds for them.</p>
          </div>
        </details>
      <br>
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->

      <!-- End of content -->
    </div>
  </div>
</div>

{% endblock %} {% block pageScripts %}
<script>
  // Customer details

  const addressLineOne = document.querySelector("[name=address-line-1]");
  const addressLineTwo = document.querySelector("[name=address-line-2]");
  const townOrCity = document.querySelector("[name=address-town]");
  const postcode = document.querySelector("[name=address-postcode]");
  const appFirstName = document.querySelector("[name=app-first-name]");
  const appLastName = document.querySelector("[name=app-last-name]");
  const appDobDay = document.querySelector("[name=app-dob-day]");
  const appEmail = document.querySelector("[name=app-email]");
  const appTelephone = document.querySelector("[name=app-telephone]");
  const appNhsNumber = document.querySelector("[name=app-nhs-number]");
  const appStartDay = document.querySelector("[name=start-day]");
  const appNotes = document.querySelector("[name=app-notes]");

  const addressDrop = document.querySelector("[name=address-drop]");

  //Populate address text input on dropdown select

  function selectAddress(){
    var addressDropDown = document.getElementById('address-drop-down');
    var displayText = addressDropDown.options[addressDropDown.selectedIndex].text;
    var separatedArray = displayText.split(', ');

    //Selection contains optional Address line 2
    if (separatedArray.length > 3) {
      addressLineOne.value = separatedArray[0];
      addressLineTwo.value = separatedArray[1];
      townOrCity.value = separatedArray[2];
      postcode.value = separatedArray[3];
    } 
    //No Address line 2
    else if (separatedArray.length = 3) {
      addressLineOne.value = separatedArray[0];
      addressLineTwo.value = "";
      townOrCity.value = separatedArray[1];
      postcode.value = separatedArray[2];
    }

    
  }

  window.addEventListener("keydown", (event) => {
    // Address line 1
    if (event.altKey === true && event.code === "KeyD") {
      if (addressLineOne !== document.addressLineOne) {
        addressLineOne.focus();
        event.preventDefault();
      }
    }

    if (event.altKey === true && event.code === "KeyT") {
      if (addressDrop !== document.addressDrop) {
        addressDrop.focus();
        event.preventDefault();
      }
    }
    // Address line 2
    if (event.altKey === true && event.code === "KeyF") {
      if (addressLineTwo !== document.activeElement) {
        addressLineTwo.focus();
        event.preventDefault();
      }
    }
    // Town or city
    if (event.altKey === true && event.code === "KeyG") {
      if (townOrCity !== document.activeElement) {
        townOrCity.focus();
        event.preventDefault();
      }
    }
    // postcode
    if (event.altKey === true && event.code === "KeyZ") {
      if (postcode !== document.activeElement) {
        postcode.focus();
        event.preventDefault();
      }
    }
    // Get address button
    if (event.altKey === true && event.code === "KeyP") {
      document.getElementById("get-address-button").click();
    }
    // Applicant first name
    if (event.altKey === true && event.code === "KeyS") {
      if (appFirstName !== document.activeElement) {
        appFirstName.focus();
        event.preventDefault();
      }
    }
    // Applicant last name
    if (event.altKey === true && event.code === "KeyA") {
      if (appLastName !== document.activeElement) {
        appLastName.focus();
        event.preventDefault();
      }
    }
    // Applicant DOB
    if (event.altKey === true && event.code === "KeyX") {
      if (appDobDay !== document.activeElement) {
        appDobDay.focus();
        event.preventDefault();
      }
    }
    // Applicant email address
    if (event.altKey === true && event.code === "KeyE") {
      if (appEmail !== document.activeElement) {
        appEmail.focus();
        event.preventDefault();
      }
    }
    // Applicant telephone number
    if (event.altKey === true && event.code === "KeyC") {
      if (appTelephone !== document.activeElement) {
        appTelephone.focus();
        event.preventDefault();
      }
    }
    // Applicant NHS number
    if (event.altKey === true && event.code === "KeyV") {
      if (appNhsNumber !== document.activeElement) {
        appNhsNumber.focus();
        event.preventDefault();
      }
    }
    // Certificate start date
    if (event.altKey === true && event.code === "KeyH") {
      if (appStartDay !== document.activeElement) {
        appStartDay.focus();
        event.preventDefault();
      }
    }
    // Cert fulfillment email
    if (event.altKey === true && event.code === "KeyL") {
      document.getElementById("cert-1").click();
    }
    // Cert fulfillment post
    if (event.altKey === true && event.code === "KeyN") {
      document.getElementById("cert-2").click();
    }
    // Applicant notes
    if (event.altKey === true && event.code === "KeyB") {
      if (appNotes !== document.activeElement) {
        appNotes.focus();
        event.preventDefault();
      }
    }
    // Submit button
    if (event.altKey === true && event.code === "KeyI") {
      document.getElementById("submit-button").click();
    }
    // Cancel button
    if (event.altKey === true && event.code === "KeyM") {
      document.getElementById("cancel-button").click();
    }
    // Back button
    if (event.altKey === true && event.code === "KeyO") {
      document.getElementById("back-button").click();
    }

    // Back button
    if (event.altKey === true && event.code === "KeyZ") {
      document.getElementById("edit-postcode").click();
    }
    // Back button
    if (event.altKey === true && event.code === "KeyW") {
      document.getElementById("select-address").click();
    }
    // Back button
    if (event.altKey === true && event.code === "KeyN") {
      document.getElementById("enter-manually").click();
    }
     
  });
</script>
{% endblock %}
