<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Certificate Summary
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="/access-keys">Access Keys: ON</a>
                  </li>
                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<!--
<style>
  
.nhsuk-summary-list__key, .nhsuk-summary-list__value, .nhsuk-summary-list__actions {
    border-bottom: 1px solid darkgray;
    display: table-cell;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-top: 8px;
}




</style>-->

<!--<legend class="nhsuk-fieldset__legend nhsuk-label--l">
  <h1 class="nhsuk-fieldset__heading">
    Certificate summary
    <p style="float:right;"><a href="exemption-information-2">Alternative design</a></p>
  </h1>
  
</legend>-->



<!--<div id="search" style="margin-top: -25px; margin-bottom: -25px;">-->
<div>
<style>
  .flex-container{
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */		
    display: flex; /* Standard syntax */
    border-radius: 0px;
    
  }
  .flex-container .column{
    border: 5px solid #DEE0E2;
  background-color: #F8F8F8;
    margin: 20px 5px -15px 0;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    width: 100%;
    border-radius: 10px
  }
  
  #header {

background-color: #DEE0E2;
margin-top: -25px;
margin-left: -25px;
margin-right: -25px;
margin-bottom: -15px;
border-radius: 10px 10px 0px 0px;
padding-left: 25px;
padding-top: 10px;
padding-bottom:0.01cm;





}
  




</style>


  <!-- Change the page heading -->
  

  <!-- ==================================================================================== -->
  <!-- SEARCH BOX -->
  <!-- ==================================================================================== -->
 
 
  <div>
    
    
  <div class="flex-container" style="margin-top: -30px;" >
    <div class="column">

      <div id="header">
        <h3 style="margin-bottom: 10px;">Certificate details
          <a href="edit-certificate">
            <button class="nhsuk-button" type="submit"  style="background-color: #025eb8; line-height: 0px;  text-align: left; float: right; margin-bottom: 10px;">
            Change (C)
           </button>
          </a>
        </h3>
      </div>
      
        
      
      
      <dl class="nhsuk-summary-list" style="padding-top: 25px;">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate number
          </dt>
          <dd class="nhsuk-summary-list__value">
            10000005940
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate type
          </dt>
          <dd class="nhsuk-summary-list__value">
            <span class="nhsuk-table-responsive__heading"></span><strong class="nhsuk-tag nhsuk-tag--green">
              HRT PPC
            </strong>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate status
          </dt>
          <dd class="nhsuk-summary-list__value">
             Issued
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate fulfillment
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Email</p>
            
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate Start
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>01/01/2023</p>
            
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate expiry
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>01/01/2024</p>
            
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Application date
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>01/01/2023</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
          <br><br><br><br>
        </div>
      
      </dl>

    </div>
    
    <div class="column bg-alt">
      <div id="header">
        
          <h3 style="margin-bottom: 10px;">Personal details
        <a href="edit-information">
          <button class="nhsuk-button" type="submit"  style="background-color: #025eb8; line-height: 0px;  text-align: left; float: right; margin-bottom: 10px;">
          Edit (E)
         </button>
        </a></h3>
        
        
      </div>
      
      <dl class="nhsuk-summary-list" style="margin-bottom:10px; padding-top: 10px;">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            First name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Doe
          </dd>   
          <dd class="nhsuk-summary-list__actions">
            
          </dd>       
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address line 1
          </dt>
          <dd class="nhsuk-summary-list__value">
            101 Test Road
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address line 2
          </dt>
          <dd class="nhsuk-summary-list__value">
            Stella
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Town
          </dt>
          <dd class="nhsuk-summary-list__value">
           Goldcrest
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Postcode
          </dt>
          <dd class="nhsuk-summary-list__value">
            TR110TS
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="nhsuk-summary-list__value">
            07123456789
          </dd>
          <dd class="nhsuk-summary-list__actions">
            
          </dd>
      
        </div>
      
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            28/11/1970
          </dd>
          <dd class="nhsuk-summary-list__actions">

          </dd>
      
          
      
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane.doe@hotmail.com
          </dd>
          <dd class="nhsuk-summary-list__actions">
      
            
      
          </dd>

        
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            NHS number
          </dt>
          <dd class="nhsuk-summary-list__value">
            1234567890
          </dd>
          <dd class="nhsuk-summary-list__actions">
      
            
      
          </dd>

        
        </div>
        
        
      </dl>
      
    </div>
</div>

<div class="flex-container">
  <div class="column">
    <div id="header">
      <h3 style="margin-bottom: 10px;">Payment<a href=""><button class="nhsuk-button" type="submit" style="background-color: #025eb8; float: right; line-height: 0px;  text-align: left; margin-bottom: 10px;">
       Refresh
      </button></a></h2>
    </div>
    

    
      
      
    <table class="nhsuk-table" style="margin-bottom:-10px;">
    
      <thead role="rowgroup" class="nhsuk-table__head" >
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Date
          </th>
          <th role="columnheader" class="" scope="col">
            Type
          </th>
          <th role="columnheader" class="" scope="col">
            Amount
          </th>
          <th role="columnheader" class="" scope="col">
            Description
          </th>
          
        </tr>
      </thead>
      <tbody class="nhsuk-table__body" >
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">02/04/2023</td>
          <td class="nhsuk-table__cell ">Card payment</td>
          <td class="nhsuk-table__cell ">£18.70</td>
          <td class="nhsuk-table__cell ">Cleared</td>
          
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">02/04/2023</td>
          <td class="nhsuk-table__cell ">Card payment</td>
          <td class="nhsuk-table__cell ">£18.70</td>
          <td class="nhsuk-table__cell ">Awaiting authorization</td>
          
        </tr>
       
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">01/04/2023</td>
          <td class="nhsuk-table__cell ">Card payment failed</td>
          <td class="nhsuk-table__cell " style="color: red;">£18.70</td>
          <td class="nhsuk-table__cell ">Aborted credit card payment</td>
          
        </tr>
      </tbody>
    </table>
      
      
    
      
  

      
      
  </div>
  

  <div class="column bg-alt">
    <div id="header">
      <h3 style="margin-bottom: 10px;">Notes<a href="exemption-add-note">
        <button class="nhsuk-button" type="submit"  style="background-color: #025eb8; line-height: 0px;  text-align: left; float: right; margin-bottom: 10px;">
        Add note +
       </button>
      </a></h2>
    </div>
    
    <table class="nhsuk-table " style="padding-top: 10px; margin-bottom: 10px;">
      
      
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">01-06-2024</td>
          <td class="nhsuk-table__cell ">14:29 - LAUGO</td>
          <td class="nhsuk-table__cell ">Advised cert details</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">01-06-2024</td>
          <td class="nhsuk-table__cell ">14:30 - LAUGO</td>
          <td class="nhsuk-table__cell ">Certificate reissued by user 'LAUGO' on 1-Jun-2024.<br>Additional information - reissue.</td>
        </tr>
        
      </tbody>
    </table>
        
        
        
        
      </div>
  </div>
  <br>
  <!--<script>
    document.body.addEventListener("keydown", function (event) {
      if (event.key === "i") {
          window.location.replace("javascript:history.go(-1)");
      }
      else if (event.key === "y") {
          window.location.replace("/keys-on/new-application");
      }
      else if (event.key === "j") {
          window.location.replace("/keys-on/email-post");
      }
      else if (event.key === "k") {
          window.location.replace("/keys-on/email-post");
      }
      else if (event.key === "m") {
          window.location.replace("/keys-on/start");
      }
      else if (event.key === "h") {
          window.location.replace("/keys-on/history");
      }
      else if (event.key === "+") {
          window.location.replace("/keys-on/exemption-add-note");
      }
      else if (event.key === "r") {
          window.location.replace("/keys-on/card-refund");
      }
      else if (event.key === "c") {
          window.location.replace("/keys-on/change-status-2");
      }
      else if (event.key === "e") {
          window.location.replace("/keys-on/edit-information");
      }
      
  });
  </script>-->
  <div style="margin-bottom:-50px; padding-top: 10px;">
        
    <a href="search"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
      Back (I)
    </button></a>
    
    <a href="reissue"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
      Reissue (K)
    </button></a>
    <a href="start"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
      Cancel (M)
    </button></a>
    
    
</div>

</div>
</div>
      
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  

{% endblock %}
