<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Search Results
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="/access-keys">Access Keys: ON</a>
                  </li>
                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<script>
  document.body.addEventListener("keydown", function (event) {
    if (event.key === "^") {
        window.location.replace("check-your-answers");
    }
    else if (event.key === "µ") {
        window.location.replace("/keys-on/start");
    }
    else if (event.key === "ø") {
        window.location.replace("start");
    }
});
</script>


<!--
<div id="search" style="margin:-10px;">
  <legend class="nhsuk-fieldset__legend nhsuk-label--l">
    <h1 class="nhsuk-fieldset__heading">
      Personal details
    </h1>
  </legend>
</div>
<br><br>-->




<div id="search">
<div>
  <h1>Personal details</h1>
</div>

<hr style="margin-top:-30px;">

<div class="nhsuk-grid-row">
  <div class="nhsuk-width-container">

    
      

      <legend class="nhsuk-fieldset__legend nhsuk-label--l">
        <h1 class="nhsuk-fieldset__heading">
          What is your address?
        </h1>
      </legend>


      <fieldset class="nhsuk-fieldset">
        
      
      
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong> Address line 1 (1)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong> Address line 2 (2)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong>  Town or city (3)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
      
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-county" style="display:inline-block; width:160px; text-align:right;">
            <strong>  County (optional) (4)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>
      
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-postcode" style="display:inline-block; width:160px; text-align:right;">
            <strong> Postcode (Z)</strong>
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
          <a href="get-address"><button class="nhsuk-button" type="submit" style="background-color: #025eb8; height: 35px; line-height: 10px;">
            Get address (P)
          </button></a>
          <details class="nhsuk-details" style="margin-left:163px;">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                They don't know which address to use?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <h3>If they have more than one address</h3>
              <p>They should use the address that their GP or dentist holds for them. For example, if they're a student living away from home, this could be their home or term time address.</p>
              <h3>If they don't have a permanent address</h3>
              <p>If they're homeless and living in temporary accommodation (for example, a long term hostel), they should use the address that their GP  holds for them.</p>
            </div>
          </details>
        </div>
        <br>

      


       

        <hr style="margin-top: -20px;">

        
          <h2>
            What is your name?
          </h2>
       

        

        
        <style>
          .no-click {pointer-events: none;}
        </style>
  
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong>  First name (S)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong>  Last name (A)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
      
        <hr>


        <h2>
          What is your date of birth?
        </h2>

        <div class="nhsuk-form-group">
          
          
          <div class="nhsuk-date-input" id="example">
            <label class="nhsuk-label" for="address-postcode" style="display:inline-block; width:160px; text-align:right; padding-right: 5px;">
              <strong> DOB (X)</strong>
            </label>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                  Day (dd)
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                  Month (mm)
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                  Year (yy)
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
          
        </div>
        

        <hr style="margin-top:-20px;">

        <h2>Contact details</h2>
  
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong>Email (G)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong>Telephone Number (C)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>



        <hr>
        <h2>What is your NHS number?</h2>




        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-town" style="display:inline-block; width:160px; text-align:right;">
            <strong>NHS Number (V)</strong>
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>
      <hr>
        
        <h2>Payment type</h2>

        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Important: </span>
             Important information
            </span>
          </h3>
          <p>Advise the customer that payments for HRT PPC can only be made in a one-off credit or debit card payment of £18.70 at this time.</p>
        </div>

        <div class="nhsuk-form-group" style="margin-top:-20px;">
          <label class="nhsuk-label" for="address-county" style="display:inline-block; width:160px; text-align:right;">
            <strong>Payment Type</strong>
          </label>
          <div class="nhsuk-radios nhsuk-radios--inline" style="display:inline-block;">
            
            <div class="nhsuk-radios__item" style="position:relative; top:13px;">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Credit or debit card (J)
              </label>
            </div>
      
            
      
          </div>
        </div>


        <hr>
        <h2>Certificate fulfillment</h2>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-county" style="display:inline-block; width:160px; text-align:right;">
            <strong>Certificate Fulfillment</strong>
          </label>
          <div class="nhsuk-radios nhsuk-radios--inline" style="display:inline-block">
            
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                Email
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                Post
              </label>
            </div>
      
          </div>
        </div>


        <hr>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="address-county" style="display:inline-block; width:160px; text-align:right;">
            <strong>Notes (B)</strong>
          </label>
          <textarea class="nhsuk-textarea nhsuk-u-width-two-thirds" id="example" name="example" rows="3" aria-describedby="example-hint" style="float: right; position:relative; left:-156px"></textarea>
        </div>



      <br><br>
      </fieldset>

      

      <div>
        <hr>
      </div>
      
      
    
    
      


      <div>
        
          <a href="check-your-answers"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Submit (I)
          </button></a>
          <a href="javascript:history.go(-1)"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Back (O)
          </button></a>
          <a href="start"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8;">
            Cancel (M)
          </button></a>
      </div>

      
      
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  </div>

</div>
</div>

{% endblock %}
