<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Edit personal details - HRT PPC 
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="/access-keys">Access Keys: ON</a>
                  </li>
                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}





  

  <!-- ==================================================================================== -->
  <!-- SEARCH BOX -->
  <!-- ==================================================================================== -->
 <h1>Edit personal details</h1>
  <div class="nhsuk-warning-callout" >
    <h3 class="nhsuk-warning-callout__label">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Important: </span>
        Remember
      </span>
    </h3>
    <p>You must make a note of the changes before you end the call with the customer.</p>
  </div>


  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Postcode search</h2>
      
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            TR110TS
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="edit-information-get-address-1">Change<span class="nhsuk-u-visually-hidden"> postcode</span>
            </a>
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Select address
          </dt>
          <dd class="govuk-summary-list__value">
            <select class="nhsuk-select" id="address-drop-down" name="address-drop">
              <option value="0">Select applicant address</option>
              <option value="1">101 Test Road, Goldcrest, TR110TS</option>
              <option value="2">2 Test Road, Town, NE1 OLD</option>
              <option value="3">3 Test Road, Town, NE1 OLD</option>
              <option value="4">4 Test Road, Town, NE1 OLD</option>
              <option value="5">5 Test Road, Town, NE1 OLD</option>
              <option value="6">6 Test Road, Town, NE1 OLD</option>
              <option value="7">7 Test Road, Town, Test, Test, Test, Test, Test, Test, Test, Test, Test, Test, Test, NE1 OLD</option>
            </select>

            <div style="margin-top: 20px;">
            <a href="edit-information-1" id="submit-button" class="nhsuk-button" role="button" style="background-color: #025eb8; margin-bottom: 25px; ">Select address</a>
            <br>
            <a href="edit-information-1">Enter address manually</a>
          </div>
          </dd>
        </div>
        
      </dl>
    </div>
  </div>
  
 
  


 
  <script>
    // Start page
  
    const firstNameInput = document.querySelector("[name=first-name]");
    const lastNameInput = document.querySelector("[name=last-name]");
    const address1Input = document.querySelector("[name=address-line-1]");
    const address2Input = document.querySelector("[name=address-line-2]");
    const townInput = document.querySelector("[name=town]");
    const postcodeInput = document.querySelector("[name=postcode]");
    const telephoneInput = document.querySelector("[name=telephone]");
    const dobDayInput = document.querySelector("[name=dob-day]");
    const emailInput = document.querySelector("[name=email]");
    const nhsNumberInput = document.querySelector("[name=nhs-number]");
    
    
    
  
    window.addEventListener("keydown", (event) => {
      if (event.altKey === true && event.code === "KeyF") {
      if (firstNameInput !== document.activeElement) {
        firstNameInput.focus();
        event.preventDefault();
      }
    }
    // Last name input
    // Last name input
    if (event.altKey === true && event.code === "KeyL") {
        if (lastNameInput !== document.activeElement) {
          lastNameInput.focus();
          event.preventDefault();
        }
      }
      // address line 1 input
    if (event.altKey === true && event.code === "Digit1") {
        if (address1Input !== document.activeElement) {
          address1Input.focus();
          event.preventDefault();
        }
      }
      // address line 2 input
    if (event.altKey === true && event.code === "Digit2") {
        if (address2Input !== document.activeElement) {
          address2Input.focus();
          event.preventDefault();
        }
      }
      // Town input
    if (event.altKey === true && event.code === "KeyT") {
      if (townInput !== document.activeElement) {
        townInput.focus();
        event.preventDefault();
      }
    }
    // postcode input
    if (event.altKey === true && event.code === "KeyP") {
      if (postcodeInput !== document.activeElement) {
        postcodeInput.focus();
        event.preventDefault();
      }
    }
    // telephone input
    if (event.altKey === true && event.code === "KeyN") {
      if (telephoneInput !== document.activeElement) {
        telephoneInput.focus();
        event.preventDefault();
      }
    }
    // DOB day input
    if (event.altKey === true && event.code === "KeyD") {
      if (dobDayInput !== document.activeElement) {
        dobDayInput.focus();
        event.preventDefault();
      }
    }
    // Email input
    if (event.altKey === true && event.code === "KeyE") {
      if (emailInput !== document.activeElement) {
        emailInput.focus();
        event.preventDefault();
      }
    }
    // Nhs number input
    if (event.altKey === true && event.code === "KeyH") {
      if (nhsNumberInput !== document.activeElement) {
        nhsNumberInput.focus();
        event.preventDefault();
      }
    }
      // submit button
      if (event.altKey === true && event.code === "KeyI") {
        document.getElementById("submit-button").click();
      }
     
      // Cancel button
      if (event.altKey === true && event.code === "KeyM") {
        document.getElementById("cancel-button").click();
      }

       
    });
  </script>
  

      
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  

{% endblock %}
