<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Certificate summary - HRT PPC Telesales
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="/access-keys">Access Keys: ON</a>
                  </li>
                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<!--
<style>
  
.nhsuk-summary-list__key, .nhsuk-summary-list__value, .nhsuk-summary-list__actions {
    border-bottom: 1px solid darkgray;
    display: table-cell;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-top: 8px;
}




</style>-->

<!--<legend class="nhsuk-fieldset__legend nhsuk-label--l">
  <h1 class="nhsuk-fieldset__heading">
    Certificate summary
    <p style="float:right;"><a href="exemption-information-2">Alternative design</a></p>
  </h1>
  
</legend>-->



<!--<div id="search" style="margin-top: -25px; margin-bottom: -25px;">-->
<div>
<style>
  .flex-container{
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */		
    display: flex; /* Standard syntax */
    border-radius: 0px;
    
    
  }
  .flex-container .column{
   
    margin: 5px 5px -40px 0px;
   
   
    width: 100%;
    display: flex;
    overflow: auto;
    
  }
  
  
  




</style>

<script>
  // Start page

  const changeInput = document.querySelector("[name=change]");
  const lastNameInput = document.querySelector("[name=last-name]");
  const dobDayInput = document.querySelector("[name=dob-day]");
  const postcodeInput = document.querySelector("[name=postcode]");

  window.addEventListener("keydown", (event) => {
    // Certificate number input
    if (event.altKey === true && event.code === "KeyT") {
      if (certificateNumberInput !== document.activeElement) {
        certificateNumberInput.focus();
        event.preventDefault();
      }
    }
    // Last name input
    //if (event.altKey === true && event.code === "KeyZ") {
    //  if (lastNameInput !== document.activeElement) {
    ///    lastNameInput.focus();
    //    event.preventDefault();
    //  }
    //}
    // DOB day input
    if (event.altKey === true && event.code === "KeyX") {
      if (dobDayInput !== document.activeElement) {
        dobDayInput.focus();
        event.preventDefault();
      }
    }
    // Postcode input
    //if (event.altKey === true && event.code === "KeyC") {
    //  if (postcodeInput !== document.activeElement) {
    //    postcodeInput.focus();
    //    event.preventDefault();
    //  }
   // }
    // change button
   
    // back button
    if (event.altKey === true && event.code === "KeyO") {
      document.getElementById("back-button").click();
    }
    // Reissue button
    if (event.altKey === true && event.code === "KeyK") {
      document.getElementById("reissue-button").click();
    }
    // Edit button
    if (event.altKey === true && event.code === "KeyE") {
      document.getElementById("edit-button").click();
    }
    // Add note button
    if (event.altKey === true && event.code === "KeyN") {
      document.getElementById("add-note-button").click();
    }
    // Cancel button
    if (event.altKey === true && event.code === "KeyM") {
      document.getElementById("cancel-button").click();
    }
    // edit button
    
  });
</script>


  <!-- Change the page heading -->
  

  <!-- ==================================================================================== -->
  <!-- SEARCH BOX -->
  <!-- ==================================================================================== -->
 
  <h1>Certificate summary</h1>
 
  <div>
    
    
  <div class="flex-container" style="margin-top: -30px;" >
    <div class="column">

      
      
        
      
      
      <div class="govuk-summary-card" aria-label="Certificate details">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Certificate details</h2>
          
        </div>
        <div class="govuk-summary-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate reference
              </dt>
              <dd class="nhsuk-summary-list__value">
                HRTMU1P22CN
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate type
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span class="nhsuk-table-responsive__heading"></span><strong class="nhsuk-tag nhsuk-tag--green">
                  HRT PPC
                </strong>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate status
              </dt>
              <dd class="nhsuk-summary-list__value">
                CANCELLED
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate channel
              </dt>
              <dd class="nhsuk-summary-list__value">
                Online 
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate fulfillment
              </dt>
              <dd class="nhsuk-summary-list__value">
                Email
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate Start
              </dt>
              <dd class="nhsuk-summary-list__value">
                30/09/2016
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Certificate expiry
              </dt>
              <dd class="nhsuk-summary-list__value">
                	
                30/09/2017
              </dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Application date
              </dt>
              <dd class="nhsuk-summary-list__value">
               	
                30/09/2016
    
              </dd>
            </div>
            
          </dl>
        </div>
      </div>

    </div>
    
    <div class="column">
      
      
      <div class="govuk-summary-card" aria-label="Personal details">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Personal details</h2>
          
        </div>
        <div class="govuk-summary-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Name 
              </dt>
              <dd class="nhsuk-summary-list__value">
             Jane Doe
              </dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Address
              </dt>
              <dd class="nhsuk-summary-list__value">
                105 Test Lane<br>
                Stella<br>
                Goldcrest<br>
                TR110TS
              </dd>
            </div>
            
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Telephone number 
              </dt>
              <dd class="nhsuk-summary-list__value">
                07123456789
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Date of birth 
              </dt>
              <dd class="nhsuk-summary-list__value">
                28/11/1970
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Email address 
              </dt>
              <dd class="nhsuk-summary-list__value">
         Jane.doe@hotmail.com
    
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                NHS number 
              </dt>
              <dd class="nhsuk-summary-list__value">
                1234567890
    
              </dd>
            </div>
          </dl>
        </div>
      </div>
      
    </div>
</div>

<div class="flex-container">
  <div class="column">
   
    

    <div class="govuk-summary-card" aria-label="Activity log">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Activity log</h2>
       
      </div>
      <div class="govuk-summary-card__content">
          
          <div class="table-container">
          <table class="nhsuk-table" style="margin-bottom:-10px; ">
    
            <thead role="rowgroup" class="nhsuk-table__head" >
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Date
                </th>
                <th role="columnheader" class="" scope="col">
                  Type
                </th>
                <th role="columnheader" class="" scope="col">
                  From
                </th>
                <th role="columnheader" class="" scope="col">
                  To
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                
              </tr>
            </thead>
            <tbody class="nhsuk-table__body" >
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">30/09/2017</td>
                <td class="nhsuk-table__cell ">Certificate details</td>
                <td class="nhsuk-table__cell ">ACTIVE</td>
                <td class="nhsuk-table__cell ">CANCELLED</td>
                <td class="nhsuk-table__cell ">Updated certificate status</td>
              </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">27/03/2017</td>
                  <td class="nhsuk-table__cell ">Personal details</td>
                  <td class="nhsuk-table__cell ">101 Test</td>
                  <td class="nhsuk-table__cell ">101 Test Lane</td>
                  <td class="nhsuk-table__cell ">Updated address line 1</td>
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">27/03/2017</td>
                  <td class="nhsuk-table__cell ">Personal details</td>
                  <td class="nhsuk-table__cell ">Ste</td>
                  <td class="nhsuk-table__cell ">Stella</td>
                  <td class="nhsuk-table__cell ">Updated address line 2</td>
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">27/03/2017</td>
                  <td class="nhsuk-table__cell ">Personal details</td>
                  <td class="nhsuk-table__cell ">Gold</td>
                  <td class="nhsuk-table__cell ">Goldcrest</td>
                  <td class="nhsuk-table__cell ">Updated town</td>
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">27/03/2017</td>
                  <td class="nhsuk-table__cell ">Personal details</td>
                  <td class="nhsuk-table__cell ">TR1</td>
                  <td class="nhsuk-table__cell ">TR110TS</td>
                  <td class="nhsuk-table__cell ">Updated postcode</td>
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">30/09/2016</td>
                  <td class="nhsuk-table__cell ">Certificate details</td>
                  <td class="nhsuk-table__cell ">PENDING</td>
                  <td class="nhsuk-table__cell ">ACTIVE</td>
                  <td class="nhsuk-table__cell ">Updated certificate status</td>
                </tr>
  
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">30/09/2016</td>
                  <td class="nhsuk-table__cell ">Card payment</td>
                  <td class="nhsuk-table__cell ">PENDING</td>
                  <td class="nhsuk-table__cell ">SUCCESS</td>
                  <td class="nhsuk-table__cell ">Updated payment status</td>
                </tr>
  
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">30/09/2016</td>
                  <td class="nhsuk-table__cell ">Certificate details</td>
                  <td class="nhsuk-table__cell ">PENDING</td>
                  <td class="nhsuk-table__cell ">PENDING</td>
                  <td class="nhsuk-table__cell ">Updated certificate status</td>
                </tr>

            </tbody>
          </table>
          </div>
      </div>
    </div>
      
      
    
      
      
    
      
  

      
      
  </div>
  <style>
    .table-container {
  max-height: 400px;

  overflow: auto;
}

.table-container:focus {
            background: #ffeb3b;
          }

th {
  position: sticky;
  top: 0;
  background: #f0f4f5;
}

.nhsuk-button {
  background: #025eb8;
}

.nhsuk-button:focus {
  background: #ffeb3b;
}
.nhsuk-button:hover {
  background: #025eb8;
}

</style>


  <div class="column">
    
    <div class="govuk-summary-card" style="width: 100%;" aria-label="Notes">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Notes</h2>
        
      </div>
      <div class="govuk-summary-card__content">
          
          <div class="table-container">
          <table class="nhsuk-table " style="padding-top: px; margin-bottom: 10px;">

            <thead role="rowgroup" class="nhsuk-table__head" >
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Date
                </th>
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                <th role="columnheader" class="" scope="col">
                  Agent
                </th>
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                
                
              </tr>
            </thead>
            
      
            
            
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">27-03-2017</td>
                <td class="nhsuk-table__cell ">14:29</td>
                <td class="nhsuk-table__cell ">JoeBloggs</td>
                <td class="nhsuk-table__cell ">Advised cert details</td>
              </tr>
              
            </tbody>
          </table>
          </div>
      </div>
    </div>

    
        
        
        
        
      </div>
  </div>
  <br>
  
  <div style="margin-bottom:-50px; padding-top: 10px;">
    <div class="form-group">
      <a href="search" id="back-button" class="nhsuk-button" role="button" onclick="document.location.href='s12-users-edit-user-delete-cya'"
      onMouseOver="this.style.backgroundColor='#07325d'"
      onMouseOut="this.style.backgroundColor='#025eb8'">Back (O)</a>
     <a href="start" id="cancel-button" class="nhsuk-button" role="button" onclick="document.location.href='s12-users-edit-user-delete-cya'"
      onMouseOver="this.style.backgroundColor='#07325d'"
      onMouseOut="this.style.backgroundColor='#025eb8'">Cancel (M)</a>
      
    </div>
    
    
    
</div>

</div>
</div>
      
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  

{% endblock %}
