<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS HRT PPC Telesales
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS BSA Prototype Kit
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h2>
        Brief
      </h2>

      <p>
        The government in association with Department of Health has pushed for a private bill to reduce the cost of drugs prescribed to a person in England undergoing Hormone Replacement Therapy. Where a single purchase would give free entitlement to the drugs for a period of 12 months at the cost of £18.70.
      </p>
      
      

      <hr>

      <h2>
       Goal
      </h2>

      <p>This prototype will contain iterations of solutions to provide a simple to use HRT PPC telesales order system for the CSS staff.

       <br><br>You'll find the iterations for each phase project below.</p>

       <h2>
        Phases
       </h2>
       <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
           Alpha
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Prototype stage is built based on our user needs assumptions and intended to be tested with the users of the service. Iterations will be based on previous PPC improvement findings and from user research defining a MVP via a:</p>
          <ul>
            <li>Solution</li>
            <li>Testing this <a href="page-list">prototype</a> with users </li>
          </ul>
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
           Beta
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Prototype stage is built based on our user needs assumptions and intended to be tested with the users of the service. Iterations will be based on previous PPC improvement findings and from user research defining a MVP via a:</p>
          <ul>
            <li>Solution</li>
            <li>Testing this <a href="page-list-beta">prototype</a> with users </li>
          </ul>
        </div>
      </details>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
