<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        Beta Prototype Pages
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      {{ warningCallout({
        "heading": "Prototype code only",
        "HTML": "<p>Do not use this code in any production code or services. It does not adhere to development standards.</p>"
      }) }}

      <h2>HRT Telesales - Page list</h2><hr>
      <h3>Prototype versions</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 1</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/start">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 2 - initial functionality UR findings</td>
            <td class="nhsuk-table__cell "><a href="/v2/keys-on/start">Telesales</a></td>
            
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 3 - changes from first UR prototype testing</td>
            <td class="nhsuk-table__cell"><a href="/v3/keys-on/start">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 3 - MVP functionality</td>
            <td class="nhsuk-table__cell "><a href="/v3-mvp/keys-on/start">Telesales</a></td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 4 - MVP functionality - Following UCD MVP discussion</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/start">Telesales</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 5 - MVP functionality - Following UR & PO discussion with business analyst lead  </td>
            <td class="nhsuk-table__cell "><a href="/v5-mvp/keys-on/start">Telesales</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 6 - MVP functionality - Agent log in screen added - Front end access keys and screen reader tags added  </td>
            <td class="nhsuk-table__cell "><a href="/v6-mvp/keys-on/ms-login">Telesales</a></td>
          </tr>

         
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 7 - Edit details as a separate screen, Additional fields added to Search, Search results show other exemption certificates - <strong>Dev and CCS agent agreed</strong>  </td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/ms-login">Telesales</a></td>
          </tr>
        </tbody>
        
      </table>
      
      <h3>Experimental designs</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 7 - Edit details on the same screen   </td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-all/ms-login">Telesales</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">SUV search page</td>
            <td class="nhsuk-table__cell "><a href="/v3/keys-on/start">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">SUV search results</td>
            <td class="nhsuk-table__cell "><a href="/v3/keys-on/search-results">Telesales</a></td>
            
          </tr>
         
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">New application - Postal order</td>
            <td class="nhsuk-table__cell "><a href="/v3/keys-on/customer-details-experiment">Telesales</a></td>
            
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Summary page - No history - reissue on edit</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/summary-experimental">Telesales</a></td>
            
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Error message - horizontal list</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/error-messages/new-application-error-list">Telesales</a></td>
            
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Get address functionality - online</td>
            <td class="nhsuk-table__cell "><a href="/v5-mvp/keys-on/new-application-test">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Test error message - summary page</td>
            <td class="nhsuk-table__cell "><a href="/v5-mvp/error-messages/edit-information">Telesales</a></td>
            
          </tr>


          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Reissue and edit in the same screen</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-all/reissue-and-edit">Telesales</a></td>
            
          </tr>


          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Edit information - add note</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/edit-information-note">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Edit certificate details - certificate start date editable</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/edit-certificate">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Edit certificate details - certificate start date not editable</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/edit-certificate3">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Retry payment</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/exemption-information-pending-payment">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email address added to Certificate details page</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/exemption-information-with-email">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Certificate fullfilment added to Personal details page</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/exemption-information-with-fullfilment">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Sortable search results</td>
            <td class="nhsuk-table__cell"><a href="/v7/edit-one/search-results-sort">Telesales</a></td>
          </tr>
        </tbody>
        
      </table>
      <hr>
     <!-- <h3>Journeys for usability testing</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Test</td>
            <td class="nhsuk-table__cell ">Test</td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          
        </tbody>
        
      </table>
      <hr>-->
      <h3>Search and Certificate Summary pages</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        
        </thead>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/start">Start page</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Search results</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/search">Search results found</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">No search results</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/no-results">No search results found</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Certificate summary page</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/exemption-information">Existing certificate summary</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Search - additional fields put back in</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/start">Search</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Search results - showing other exemption certificates with HRT PPC results</td>
            <td class="nhsuk-table__cell "><a href="/v7/edit-one/search">Search results found</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          </tbody>
        
      </table>
      <hr>
      <h3>New application</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Applicant details</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/customer-details">Enter applicant details</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Check your answers</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/check-your-answers">Check applicant answers</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Card payment call</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/keys-on/payment-ref">Card payment call page</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          
          </tbody>
        
      </table>

      <hr>
      <h3>Error messages</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/blank-error">Blank search fields</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/dob-error">DOB blank</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/dob-invalid">DOB invalid</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/dob-future">DOB in the future</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/postcode-error">Postcode blank</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/first-name-length">First name too long</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/last-name-length">Last name too long</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/first-name-invalid">First name invalid</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/last-name-invalid">Last name invalid</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">New application</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/error-messages/new-application-error">All fields left blank</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">New application</td>
            <td class="nhsuk-table__cell "><a href="/v4-mvp/error-messages/new-application-invalid">Validation errors</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">New application - DOB <16 or >60</td>
            <td class="nhsuk-table__cell "><a href="/v5-mvp/error-messages/new-application-age">DOB errors</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">New application</td>
            <td class="nhsuk-table__cell "><a href="/v5-mvp/error-messages/new-application-invalid-2">DOB and start date invalid</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">New application</td>
            <td class="nhsuk-table__cell "><a href="/v5-mvp/error-messages/new-application-contact">Contact details invalid</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Problem with the service</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/problem-with-service">Problem with the service</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">No email</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/reissue-no-email">Reissuing a certificate if there is no email address provided</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Edit certificate page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/edit-information-no-fulfilment">No preference selected</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Edit certificate page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/edit-information-no-email">No email address provided</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/certificate-number-invalid">Certificate number invalid</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start/Search page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/certificate-number-length">Certificate number too long</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Edit personal details page</td>
            <td class="nhsuk-table__cell "><a href="/v7/error-messages/edit-information-email-blank">Email field left blank & current preference is set to 'Email'</a></td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          
        </tbody>
        
      </table>
    
      

      
      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
