<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        Beta Prototype Pages
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      {{ warningCallout({
        "heading": "Prototype code only",
        "HTML": "<p>Do not use this code in any production code or services. It does not adhere to development standards.</p>"
      }) }}

      <h2>HRT Telesales - Page list</h2><hr>
      <h3>Prototype versions</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 1</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/start">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 2 - initial functionality UR findings</td>
            <td class="nhsuk-table__cell "><a href="/v2/keys-on/start">Telesales</a></td>
            
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 3 - changes from first UR prototype testing</td>
            <td class="nhsuk-table__cell"><a href="/v3/keys-on/start">Telesales</a></td>
            
          </tr>
          <!--<tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 1 - Access keys off</td>
            <td class="nhsuk-table__cell "><a href="/keys-off/start">Telesales</a></td>
            
          </tr>-->
          
        </tbody>
        
      </table>
      <hr>
      <h3>Experimental designs</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">SUV search page</td>
            <td class="nhsuk-table__cell "><a href="/v3/keys-on/start">Telesales</a></td>
            
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">SUV search results</td>
            <td class="nhsuk-table__cell "><a href="/v3/keys-on/search-results">Telesales</a></td>
            
          </tr>
         
          <!--<tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 1 - Access keys off</td>
            <td class="nhsuk-table__cell "><a href="/keys-off/start">Telesales</a></td>
            
          </tr>-->
          
        </tbody>
        
      </table>
      <hr>
      <h3>Journeys for usability testing</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Test</td>
            <td class="nhsuk-table__cell ">Test</td>
            <td class="nhsuk-table__cell ">Test</td>
          </tr>
          
        </tbody>
        
      </table>
      <hr>
      <h3>New certificate pages</h3>
      <table class="nhsuk-table">
        
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter Address</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/new-application">What is your address?</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter Name</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/name">What is your name?</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter Date of Birth</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/dob">What is your date of birth?</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter Telephone Number</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/telephone">What is your telephone number?</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter NHS number</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/nhs-number">What is your NHS number?</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Payment Type</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/payment">Choose payment type</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">certificate Fulfillment</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/email-post">Choose email or post</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/email">What is your email address?</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Startdate Information</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/start-date">HRT will start today</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Payment Type</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/payment">Card only</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Check your answers</td>
            <td class="nhsuk-table__cell "><a href="/keys-on/check-your-answers">Check your answers</a></td>
            <td class="nhsuk-table__cell ">JIRA</td>
          </tr>
          
        </tbody>
      </table>
    
      

      
      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
