<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %} Certificate Manager - HRT PPC {% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<style>
  .pagination-li {
    display: inline-block;
    color: #005EA5;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    margin-right: 15px;
    text-decoration: none;
    margin-bottom: 0px;
}
​
.padding {
    padding-left: 15px;
}
​
.pagination {
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}
​
.pagination__item {
    display: inline-block;
    list-style: none;
    margin-bottom: 0px;
}
​
.pagination__link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 19px;
}
​
.current {
    color: #4c6272 !important;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;
}
​
.pagination__summary {
    margin-left: auto;
    -webkit-font-smoothing: antialiased;
    padding: 8px 0;
    font-size: 19px;
}
​
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
​
@media (max-width: 640px) {
    .pagination__summary {
        margin-left: 0;
    }
​
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
}
​
.nhsuk-button--small {
    font-size: 1em;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
}
</style>

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-secondary-navigation__container">
        <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
          <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
            <ul class="nhsuk-secondary-navigation__list">
              <li class="nhsuk-secondary-navigation__item">
                <a class="nhsuk-secondary-navigation__link" href="access-keys">Access Keys: ON</a>
              </li>

              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
              </li>
              <li class="nhsuk-secondary-navigation__item login-details">
                <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div>
  <h1 style="margin-bottom: 10px">
    Certificate Manager

    <!--<a href="access-keys"><button class="nhsuk-button" type="submit" formaction="/access-keys" style="background-color: #025eb8; float: right;">
        Access Keys
      </button></a>-->
  </h1>
</div>

<div id="search">
  <h2>HRT PPC Search Results</h2>
  <div class="nhsuk-hint" id="contact-hint">You can only access active HRT prescription prepayment certificates.</div>

  <table role="table" class="nhsuk-table-responsive">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">Certificate number</th>

        <th role="columnheader" class="" scope="col">Name</th>
        <th role="columnheader" class="" scope="col">Address</th>
        <th role="columnheader" class="" scope="col">Postcode</th>
        <th role="columnheader" class="" scope="col">Date of birth</th>
        <th role="columnheader" class="" scope="col">Type</th>
        <th role="columnheader" class="" scope="col">Status</th>
        <th role="columnheader" class="" scope="col">Start date</th>
        <th role="columnheader" class="" scope="col">Expiry date</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Certificate number</span>
          <a href="exemption-information">10000005940</a>
        </td>

        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name</span>
          JANE DOE
        </td>

        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"></span>101 Test Road</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"></span>TR110TS</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"></span>28/11/1970</td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span>
          HRT PPC
        </td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"></span>Active</td>
        <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"></span>01/01/2023</td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span>
          01/01/2024
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Certificate number</span>
          <a href="exemption-information-2">12345678911</a>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name</span>
          JANE DOE
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Address</span>
          105 TEST ROAD
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Postcode</span>
          TR110TS
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date of birth</span>
          28/11/1970
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Type</span>
          HRT PPC
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status</span>
          Expired
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Start date</span>
          30/09/2016
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Expiry date</span>
          30/09/2017
        </td>
      </tr>

      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Certificate number</span>
          <a href="exemption-information-3"> 09876543211</a>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Name</span>
          JANE DOE
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Address</span>
          105 TEST ROAD
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Postcode</span>
          TR110TS
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date of birth</span>
          28/11/1970
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Type</span>
          HRT PPC
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status</span>
          Cancelled
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Start date</span>
          01/09/2015
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Expiry date</span>
          01/09/2016
        </td>
      </tr>

      
    </tbody>
  </table>

  <br />

  <nav class="nav" role="navigation" aria-label="Pagination">
    ​
                    <ul class="pagination">
                        <li class="pagination__item pagination-li"><a class="pagination__link current" href="#" aria-current="true"
                                aria-label="Page 1, current page">1</a></li>
                        <li class="pagination__item pagination-li"><a class="pagination__link" href="#" aria-label="Page 2">2</a></li>
                        <li class="pagination__item pagination-li"><a class="pagination__link" href="#" aria-label="Page 3">3</a></li>
                        <li class="pagination__item pagination-li"><a class="pagination__link" href="#" aria-label="Page 4">4</a></li>
                    </ul>
    ​
                    <a class="pagination__link" href="#" aria-label="Next page">Next<span aria-hidden="true"
                            role="presentation">&nbsp;&raquo;</span></a>
    ​
                    <div class="pagination__summary navigation-mobile" style="text-align: right;">Showing 1 - 10 of 34 claims
                    </div>
                </nav>

  <div>
    <a href="start" class="nhsuk-button" id="back-button" role="button" style="background-color: #025eb8">Back (O)</a>
    <a href="customer-details" class="nhsuk-button" id="new-application-button" role="button" style="background-color: #025eb8">New application (Y)</a>
  </div>
</div>

{% endblock %} {% block pageScripts %}
<script>
  // Search results

  window.addEventListener("keydown", (event) => {
    // Back button
    if (event.altKey === true && event.code === "KeyO") {
      document.getElementById("back-button").click();
    }
    // New application button
    if (event.altKey === true && event.code === "KeyY") {
      document.getElementById("new-application-button").click();
    }
  });
</script>
{% endblock %}
