<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Certificate Summary
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

<div class="nhsuk-secondary-navigation">
  <div class="nhsuk-grid-row">
     <div class="nhsuk-grid-column-full">
        <div class="nhsuk-secondary-navigation__container">
           <div class="nhsuk-secondary-navigation__nav" style="width: 100%">
              <nav class="nhsuk-secondary-navigation" aria-label="Primary navigation">
                 <ul class="nhsuk-secondary-navigation__list">
                  <li class="nhsuk-secondary-navigation__item">
                    <a class="nhsuk-secondary-navigation__link" href="/access-keys">Access Keys: ON</a>
                  </li>
                  
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link" href="#">Sign out</a>
                  </li>
                  <li class="nhsuk-secondary-navigation__item login-details">
                    <a class="nhsuk-secondary-navigation__link">joe.bloggs@nhs.net</a>
                  </li> 
     
                  
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</div>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<!--
<style>
  
.nhsuk-summary-list__key, .nhsuk-summary-list__value, .nhsuk-summary-list__actions {
    border-bottom: 1px solid darkgray;
    display: table-cell;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-top: 8px;
}




</style>-->



<style>
  .flex-container{
    width: 100%;
    
    margin: 0 auto;
    display: -webkit-flex; /* Safari */		
    display: flex; /* Standard syntax */
    
  }
  .flex-container .column{
    border: 5px solid #DEE0E2;
  background-color: #F8F8F8;
    margin: 20px 5px -15px 0;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    width: 100%;
    border-radius: 10px
  }
  
  #header {

background-color: #DEE0E2;
margin-top: -15px;
margin-left: -15px;
margin-right: -15px;
margin-bottom: -15px;





}




</style>


  <!-- Change the page heading -->
  

  <!-- ==================================================================================== -->
  <!-- SEARCH BOX -->
  <!-- ==================================================================================== -->
  
    
  <div class="flex-container" style="margin-top: -30px;">
    <div class="column">
      
      <dl class="nhsuk-summary-list" style="margin-bottom:10px;">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            Jane Doe
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="nhsuk-summary-list__value">
            28/11/1970
          </dd>
     
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address 
          </dt>
          <dd class="nhsuk-summary-list__value">
            101 Test Lane, Stella, Goldcrest, 	TR110TS
          </dd>
      
        </div>
         
      </dl>
      

    </div>
    
    <div class="column bg-alt">
    
      <dl class="nhsuk-summary-list" style="margin-bottom:10px;">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate number
          </dt>
          <dd class="nhsuk-summary-list__value">
            10000005940
          </dd>
         
      
          
      
        </div>
      
        
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Certificate status
          </dt>
          <dd class="nhsuk-summary-list__value">
            Certificate issued
          </dd>
          
      
          
      
        </div>
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Application method
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>Call centre (PPA)</p>
            
          </dd>
          
      
          
      
        </div>
        
      
      </dl>
      
    </div>
</div>

<div class="flex-container">
  <div class="column">
    <dl class="nhsuk-summary-list" style="margin-bottom:10px;">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Certificate start
        </dt>
        <dd class="nhsuk-summary-list__value">
          01/01/2023
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Certificate expiry
        </dt>
        <dd class="nhsuk-summary-list__value">
          01/01/2024
        </dd>
      </div>
      
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Certificate cost 
        </dt>
        <dd class="nhsuk-summary-list__value">
         £18.70
        </dd>
    
      </div>
       
    </dl>
    
      
      
      
  

      
      
  </div>
  

  <div class="column bg-alt">
    <dl class="nhsuk-summary-list" style="margin-bottom:10px;">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Total payments
        </dt>
        <dd class="nhsuk-summary-list__value">
         £18.70
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Outstanding balance
        </dt>
        <dd class="nhsuk-summary-list__value" style="color: red;">
         £0.00
        </dd>
      </div>
      
      
       
    </dl>
        
        
        
        
      </div>
  </div>



  <style>
    
   

  </style>

  
  <div class="flex-container">
    
    <div class="column bg-alt">
      <div class="container">
        
        <dl class="nhsuk-summary-list" style="margin-bottom:10px;">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Payment type
            </dt>
            <dd class="nhsuk-summary-list__value">
             Card payment
            </dd>
          </div>
    
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Card amount
            </dt>
            <dd class="nhsuk-summary-list__value">
             £18.70
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Card expiry date
            </dt>
            <dd class="nhsuk-summary-list__value">
             01/24
            </dd>
          </div>
    
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Card number
            </dt>
            <dd class="nhsuk-summary-list__value">
             1234 5678 9123 4567
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Description
            </dt>
            <dd class="nhsuk-summary-list__value">
             Cleared
            </dd>
          </div>
    
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              PPCPAYE
            </dt>
            <dd class="nhsuk-summary-list__value">
             £18.70
            </dd>
          </div>
        </dl>
        
          


     </div>
     

    </div>

  </div>
  <div style="margin-bottom:-50px;"><br>
        
    <a href="javascript:history.go(-1)"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8; margin-right: 10px;">
      Back (O)
    </button></a>
    
    <a href="start"><button class="nhsuk-button" type="submit" formaction="access-keys" style="background-color: #025eb8; margin-right: 10px;">
      Cancel (M)
    </button></a>
    
</div>
      
      <!-- ==================================================================================== -->
      <!-- END OF SEARCH BOX -->
      <!-- ==================================================================================== -->


     
      <!-- End of content -->

  

{% endblock %}
